#map {
	height: 800px;
	width: 75%;
	float: left;
	margin-right: 1%;
}

#uiComponent {
	width: inherit;
}

.glyphicon-remove {
	color: DarkRed;
}

.editableText {
	cursor: text;
}
/*
.textIconClass{
	color: white;
	white-space:nowrap;
	font-size: 20pt;
}
 */